body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center
}

Button {
    display: block;
    margin: auto;
    text-align: center;
}

ListItem {
    font-weight: bold;
    font-family: 'Arial, sans-serif';
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f2f2f2;
}

TextBox {
    text-align: center;
    align-content: center;
}

.button-container Button {
    margin-right: 30px;
}

.dynamicLabelStyle {
    font-size: 16pt;
    font-family: 'Arial, sans-serif';
    font-weight: bold;
}

#backButton {
    position: fixed;
    bottom: 30px; /* Adjust this value to set the distance from the bottom */
    left: 30px; /* Adjust this value to set the distance from the right */
    background-color: #b3e0ff; /* Example background color */
    color: #000000; /* Example text color */
    padding: 10px; /* Example padding */
    text-decoration: none;
    font-size:12pt;
}
